
{%load static%}
<html>
        <head>
                <link rel="stylesheet" href="">
        </head>
        <body>
                <h1>Query from topics</h1>
              <!--   <table>
                        {% for item in topics %}
                        <tr> 
                             <td>{{ item.topic_name }}</td>
                             
                        </tr>
                           {% endfor %}
                        </table>

                <h1>Query from models webpage</h1>
                
                <table>
                {% for item in webpage %}
                <tr> 
                     <td>{{ item.topic }}</td>
                     <td>{{ item.name }}</td>
                     <td>{{ item.url}}</td>
                </tr>
                   {% endfor %}
                </table> -->
                   <h1>Query from accessrecords</h1>
                   
                   
                   <table>
                           <th>Site Name</th>
                           <th>Date Accessed</th>
                        {% for item in access %}
                <tr> 
                     <td>{{ item.name }}</td>
                     <td>{{ item.date }}</td>
                </tr>
                   {% endfor %}
                </table>
        </table>
        <h1>Query from webrecords</h1>
        
        
        <table>
                {% for item in webrecords %}
     <tr> 
          <td>{{item.name}}</td>
          {% endfor %}
     </tr>
        
     </table>
     {{webrecords}}
        </body>
</html>
        

